.box-layout {
  display: flex;
  align-items: center;

  flex-direction: column;

  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url("/images/forestRoad.jpg");
  background-position: 0rem -5rem;

  @media (max-width: $desktop-breakpoint) {
    background-size: cover;
    background-position: 0rem 0;
    background-repeat: repeat;
  }

  &__box {
    margin-top: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50rem;
    width: 47rem;
    border: 2px solid black;
    text-align: center;
    background: transparentize($color: rgb(46, 84, 46), $amount: 0.7);
    @media (max-width: $desktop-breakpoint) {
      width: 30rem;
      height: 40rem;
      margin-top: 17rem;
    }
  }

  &__title {
    color: white;
    font-size: 400%;
    letter-spacing: 0;
    margin-bottom: 3rem;
    @media (max-width: $desktop-breakpoint) {
      margin-bottom: 2rem;
      font-size: 295%;
    }
  }

  &__name {
    color: $electric;
    font-size: 280%;
    letter-spacing: 3px;
    display: inline-block;
    margin-top: 4rem;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 1.2;
    @media (max-width: $desktop-breakpoint) {
      margin-bottom: 1rem;
      margin-top: 2rem;
      font-size: 250%;
    }
  }
}

.box-layout__move-both {
  text-align: center;
}

.box-layout__description {
  color: $electric;
  margin-bottom: 3rem;
  @media (max-width: $desktop-breakpoint) {
    margin-bottom: 1rem;
    font-size: 90%;
  }
}

.box-layout__box-container {
  button {
    background: rgb(23, 63, 23);
  }
}
